#app {
    width: 100%;
    height: 100%;
    background-image: url(https://i.ibb.co/b70VqB4/Artboard-1.png);
    background-size: contain;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.landingform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: plum;
    width: 100%;
    height: 100px;
}

.consoleContainer {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.creategame {
    display: flex;
    background-color: purple;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.creategame span {
    color: white;
}

.creategamebutton {
    width: 30%;
}

.form {
    width: 100%;
}

.joingame {
    display: flex;
    background-color: orange;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.joingame span {
    color: white;
}

.joingame input {
    width: 30%;
}

.joingamebutton {
    width: 30%;
}