#body {
    background-image: url(https://i.ibb.co/b70VqB4/Artboard-1.png);
    background-size: cover;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.landingimg {
    height: 80%;
    width: 80%;
}

.landingform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(slategrey, darkslategrey);
    border-radius: 3%;
    width: 40%;
    height: 60%;
    border: 2px solid red;
    box-shadow:
        0 0 60px 30px #fff,
        0 0 100px 60px red
        0 0 140px 90px #fff;
}

.landingform input {
    width: 40%;
    border: 2px solid red;
    border-radius: 4px;
}

.consoleContainer {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.creategame {
    display: flex;
    background-color: purple;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.creategame span {
    color: white;
}

.creategamebutton {
    width: 30%;
}

.form {
    width: 100%;
}

.joingame {
    display: flex;
    background-color: orange;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.joingame span {
    color: white;
}

.joingame input {
    width: 30%;
}

.joingamebutton {
    width: 30%;
}