#body {
    background-image: url(https://i.ibb.co/fpnp5bQ/Artboard-1-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'VT323', monospace;
    margin: 0;
}

#app {
    height: 100%;
    width: 100%;
}

.button {
    background-color: black;
    border: 1px solid #aaa;
    border-radius: .5em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: 'VT323', monospace;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button:hover {
    border: 1px solid red;
    animation: buttonmove 2.5s infinite;
}

.buttons {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.innerbuttons {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
  

.editorcontainer {
    height: 100%;
    width: 40%;
    background-color: rgb(30,30,30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

.editorcontainer button {
    margin-top: 20px;
}

.prompt {
    width: 80%;
    height: 20%;
    padding: 20px;
    margin-top: 60px;
    overflow-y: scroll;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.prompt h1 {
    margin-top: 0;
}

.input {
    background-color: black;
    color: white;
    font-family: 'VT323', monospace;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .3em .5em .3em;
    font-size: 20px;
    text-align: center;
}

.input:focus {
    border: 1px solid red;
    outline: none;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.landingimg {
    height: 20rem;
    width: 27rem;
}

.landingform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(red,  black);
    border-radius: 3%;
    width: 40%;
    min-width: 30rem;
    height: 60%;
    border: 2px solid red;
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
}

.landingform input {
    width: 40%;
}

.consoleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.outerConsole {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.creategame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(black, rgb(23, 41, 41));
    font-size: 20px;
    color: white;
    border: 3px solid red;
    border-radius: 3%;
    width: 40%;
    min-width: 30rem;
    height: 60%;
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
}

.box {
    background-image: linear-gradient(black, rgb(23, 41, 41));
    color: white;
    border: 3px solid red;
    border-radius: 3%;
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
}

.competition {
    height: 50%;
    max-height: 75%;
    width: 90%;
    padding: 25px;
    margin: 25px;
    font-size: 35px;
}

.creategame span {
    /* background: -webkit-linear-gradient(red, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: red;
    font-size: 4rem;
}

.creategame select {
    display: block;
    font-size: 20px;
	color: white;
	line-height: 1.3;
	padding: .3em .2em .5em .5em;
	width: 40%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
    border-radius: .5em;
    background-color: black;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
    font-family: 'VT323', monospace;
}

.creategame select:hover {
    border-color: red;
    outline: none;
}

.creategame select:focus {
    outline: none;
}

.diff {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.gamepage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.gamepageL {
    height: auto;
    max-height: 80%;
    width: 25%;
    font-family: 'Ubuntu', sans-serif;
}

.gamepageL p {
    padding: 25px;
    padding-top: 0px;
}

.gamepageL h1 {
    padding: 25px;
}

.gamepagecontainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gamesidebar {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.gameoverwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gameoverwrapper button {
    margin-bottom: 50px;
}

.gameover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(black, rgb(23, 41, 41));
    font-size: 20px;
    color: white;
    border: 3px solid red;
    border-radius: 3%;
    width: 40%;
    min-width: 30rem;
    height: 60%;
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
}

.gameover span {
    /* background: -webkit-linear-gradient(red, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: red;
    font-size: 6rem;    
}

.joingame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    min-width: 30rem;
    height: 60%;
    border: 3px solid red;
    border-radius: 3%;
    background-image: linear-gradient(black, rgb(23, 41, 41));
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
}

.joingame span {
    /* background: -webkit-linear-gradient(red, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: red;
    font-size: 4rem;
}

.joingame input {
    width: 50%;
}

.joingamebutton {
    width: 30%;
}

.messagebox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    font-family: 'Ubuntu', sans-serif;
}

.messageform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 80%;
    width: 100%;
    border-radius: 3%;
    padding: 3%;
    border: 2px solid red;
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
}

.messageinput {
    width: 100%;
    display: flex;
}

.messageinput input {
    width: 100%;
    text-align: left;
}

.messagespan {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.messages {
    height: 100%;
    width: 100%;
    border-radius: 3%;
    box-shadow: 0px 0px -5px -10px white;
    overflow-y: scroll;
    padding: 3%;
}

<<<<<<< HEAD
.modal {
    border: 3px solid red;
    color: white;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.modalheader {
    border: 3px solid red;
    color: white;
    font-size: 2rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innermodal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

=======
>>>>>>> parent of bbbee70... modal css complete
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 3rem;
    background-image: linear-gradient( rgb(23, 41, 41), black);
    border: solid 2px red;
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
    font-family: 'VT323', monospace;
}

.nav span {
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
    color: red;
    display: flex;
}

.navname {
    font-size: 30px;
    color: white;
    margin-left: 5px;
}

.imgcontainer {
<<<<<<< HEAD
    height: 100%;
    width: 100%;
    display: flex;
    align-self: center;
    justify-self: center;
    background-image: url("https://i.ibb.co/R9MLY1s/Logotransparent.png");
    background-repeat: no-repeat;
    background-position: center;
=======
    height: 11rem;
    width: 30rem;
    align-self: center;
    background-image: linear-gradient(red, black);
    padding: 30px;
    border-radius: 50%;
    border: 2px solid red;
    box-shadow: 0px 0px 40px 10px red;
    animation: mymove 4s infinite;
>>>>>>> parent of bbbee70... modal css complete
}

.logoimg {
    height: 100%;
    width: 100%;
}

.span {
    /* background: -webkit-linear-gradient(red, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: red;
    font-size: 3rem;
}

<<<<<<< HEAD
=======
.nav span {
    background: -webkit-linear-gradient(red, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    padding: 15px 0px 20px 30px;
}
>>>>>>> parent of bbbee70... modal css complete

.rounds {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

.waitingcomps {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.waitingroom {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.waitingheader {
    height: 12rem;
    width: 100%;
    background-image: linear-gradient(slategrey, darkslategrey);
    border: 2px solid red;
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
}

.waitinginner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.powerupbutton {
background-color:tomato; /* Green */
border: none;
color: black;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

.powerupcontainer {
    height: 20%;
    width: 85%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: red;
    font-size: 25px;
}

.timer {
    height: auto;
    width: 100%;
    display: flex;
    margin-bottom: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.innertimer {
    height: 8em;
    width: 100%;
    margin: 25px;
}

.loadercontainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid red; /* Blue */
    border-radius: 50%;
    height: 30px;
    width: 30px;
    animation: spin 2s linear infinite;
}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgb(23, 41, 41), black);
    border-right: 2px solid red;
    border-left: 2px solid red;
    padding-right: 15px;
    padding-left: 15px;
    width: 25%;
    height: 100%;
}
  
.dropdowncontent {
    display: none;
    position: absolute;
    font-size: 20px;
    top: 0;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 2px solid red;
    border-left: 2px solid red;
    border-bottom: 2px solid red;
    background-image: linear-gradient( rgb(23, 41, 41), black);
    color: white;
    min-width: 160px;
    width: 25%;
    height: auto;
    z-index: 1;
}
  
.dropdown:hover  .dropdowncontent{
    display: block;
    justify-content: flex-start;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    max-height: 50%;
    width: 100%;
}

.leaderboard table {
    color: white;
    font-size: 30px;
    overflow-y: scroll;
}

.leaderboard span {
    font-size: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes mymove {
    50% {box-shadow: 0px 0px 35px 5px red;}
}

@keyframes buttonmove {
    50% {box-shadow: 0px 0px 8px 5px red;}
}