#body {
    background-image: url(https://i.ibb.co/fpnp5bQ/Artboard-1-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Miriam Libre', sans-serif;
    margin: 0;
}

#app {
    height: 100%;
    width: 100%;
}

.button {
    background-color: black;
    border: 1px solid #aaa;
    border-radius: .5em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Enriqueta', serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    border: 1px solid red;
    animation: buttonmove 2.5s infinite;
}
  

.codeEditor {
    height: 100%;
    width: 100%;
}

.codeScreen {
    height: 80%;
    width: 80%;
    color: blue;
    background-color: coral;
}

.input {
    background-color: black;
    color: white;
    font-family: "Enriqueta", serif;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .3em .5em .3em;
    font-size: 16px;
    text-align: center;
}

.input:focus {
    border: 1px solid red;
    outline: none;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.landingimg {
    height: 20rem;
    width: 27rem;
}

.landingform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(red,  black);
    border-radius: 3%;
    width: 40%;
    min-width: 30rem;
    height: 60%;
    border: 2px solid red;
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
}

.landingform input {
    width: 40%;
}

.consoleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.outerConsole {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.creategame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(black, rgb(23, 41, 41));
    font-size: 20px;
    color: white;
    border: 3px solid red;
    border-radius: 3%;
    width: 40%;
    min-width: 30rem;
    height: 60%;
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
}

.creategame span {
    background: -webkit-linear-gradient(red, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
}

.creategame select {
    display: block;
    font-size: 16px;
	color: white;
	line-height: 1.3;
	padding: .3em .2em .5em .5em;
	width: 40%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
    border-radius: .5em;
    background-color: black;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
    font-family: 'Enriqueta', serif;
}

.creategame select:hover {
    border-color: red;
    outline: none;
}

.creategame select:focus {
    outline: none;
}

.diff {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.gameoverwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(black, rgb(23, 41, 41));
    font-size: 20px;
    color: white;
    border: 3px solid red;
    border-radius: 3%;
    width: 40%;
    min-width: 30rem;
    height: 60%;
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
}

.gameover span {
    background: -webkit-linear-gradient(red, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;    
}

.joingame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    min-width: 30rem;
    height: 60%;
    border: 3px solid red;
    border-radius: 3%;
    background-image: linear-gradient(black, rgb(23, 41, 41));
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
}

.joingame span {
    background: -webkit-linear-gradient(red, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
}

.joingame input {
    width: 30%;
}

.joingamebutton {
    width: 30%;
}

.messagebox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.messageform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 70%;
    width: 60%;
    background-image: linear-gradient(slategrey, darkslategrey);
    border-radius: 3%;
    border: 2px solid red;
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
}

.messageinput {
    display: flex;
}

.messages {
    height: 80%;
    width: 90%;
    border-radius: 3%;
    background-color: black;
    box-shadow: 0px 0px -5px -10px white;
    overflow-y: scroll;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 12rem;
    background-image: linear-gradient( red, black);
    border: solid 2px red;
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
}

.navimg {
    height: 9rem;
    width: 11rem;
    align-self: center;
}

.nav span {
    background: -webkit-linear-gradient(grey, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.rounds {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

.waitingcomps {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.waitingroom {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.waitingheader {
    height: 12rem;
    width: 100%;
    background-image: linear-gradient(slategrey, darkslategrey);
    border: 2px solid red;
    animation: mymove 4s infinite;
    box-shadow: 0px 0px 40px 10px red;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.powerUpButton {
background-color:tomato; /* Green */
border: none;
color: black;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

@keyframes mymove {
    50% {box-shadow: 0px 0px 35px 5px red;}
  }